
table
{
    width: 800px;
    height: 300px;
    margin: auto;
    /* border-spacing: 0; */
    border-collapse: collapse;
}

th , td
{
    height: 50px;
    border: 1px solid black;
}

tbody > tr:hover
{
    background-color: lightgray;
}
